<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
<body>
<div class="restaurant">
    <h1>식당 이름</h1>
    <p>식당에 대한 소개글입니다. 여기에 식당의 특징, 메뉴 등에 대한 설명을 넣으세요.</p>
</div>
<div class="menu">
    <div class="menu-item">
        <img src="/img/menu1.png" alt="메뉴 1 이미지">
        <h2>메뉴 1</h2>
        <p>메뉴 1에 대한 설명입니다.</p>
        <div class="price">10,000원</div>
    </div>
    <div class="menu-item">
        <img src="/img/menu2.png" alt="메뉴 2 이미지">
        <h2>메뉴 2</h2>
        <p>메뉴 2에 대한 설명입니다.</p>
        <div class="price">15,000원</div>
    </div>
    <div class="menu-item">
        <img src="/img/menu3.png" alt="메뉴 2 이미지">
        <h2>메뉴 3</h2>
        <p>메뉴 3에 대한 설명입니다.</p>
        <div class="price">15,000원</div>
    </div>
    <div class="menu-item">
        <img src="/img/menu4.png" alt="메뉴 2 이미지">
        <h2>메뉴 4</h2>
        <p>메뉴 4에 대한 설명입니다.</p>
        <div class="price">15,000원</div>
    </div>
    <!-- 기타 메뉴 항목을 추가하세요 -->
</div>
</body>
</html>
